<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<main>
    <h2>Ajouter un évènement</h2>
    <form th:method="POST" th:action="@{/events}" th:object="${eventForm}">
        <label th:for="*{name}">Nom</label>
        <input required type="text" th:field="*{name}"/> <br/>
        <label th:for="*{date}">Evènement</label>
        <input required type="date" th:field="*{date}"/> <br/>

        <input type="submit" value="Valider"/>
    </form>
</main>
<footer>
    <a th:href="@{/index}">Index</a> <br/>
    <span th:text="${author}+ ' - ' +${curse}"></span>
</footer>
</body>
</html>