<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html :: header (title=${title})"></header>
<main>
    <table>
        <tbody>
        <tr th:each="event : ${events}">
            <td class="id-column" th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.date}"></td>
            <td>
                <form th:action="@{/events/{id}(id=${event.id})}" th:method="DELETE">
                    <button th:title="'Supprimer ' +${event.name}" type="submit"><span>x</span></button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/events/add}">Ajouter</a> <br/>
</main>
<footer th:replace="fragments/general.html :: footer(author=${author},curse =${curse})"/>
</body>
</html>